<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
	{% for style in page.css %}
	<link rel="stylesheet" href="css/{{ style }}.css">
	{% endfor %}
	{% for script in page.js_external %}
	<script src="{{ script }}"></script>
	{% endfor %}
    {% for script in page.js %}
	<script src="js/{{ script }}.js"></script>
	{% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="index.html">Formtools</a></h1>
        <p></p>
        <p class="view"><a href="https://github.com/HandMind/formtools">View the Project on GitHub <small>HandMind/formtools</small></a></p>
        <ul>
          <li><a href="https://github.com/HandMind/formtools/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/HandMind/formtools/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/HandMind/formtools">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
	  
		{{ content }}
		
      </section>
	  <footer>
        <p>This project is maintained by <a href="https://github.com/HandMind">HandMind</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>